com\.tencent\.tmgp\.bh3         x86         # 崩坏3 应用宝
com\.(tencent\.tmgp\.)?bilibili\.snake.*        armeabi-v7a # 坎公骑冠剑
com\.yinhan\.skzh\.uc           armeabi-v7a # 时空召唤（九游）
com\.braygame\.GunDam           armeabi-v7a # 战场指挥官
com\.braygame\.bc\.aligames     armeabi-v7a # 战场指挥官（九游）
com\.SleeeeepFly\.BuilderDuet   armeabi-v7a # 魔性建筑工
com\.ilongyuan\.implosion       armeabi-v7a # 聚爆
com\.xcqy\.uc                   armeabi-v7a # 星辰奇缘（九游）
com\.xd\.scd\.release\.inside   armeabi-v7a # 心灵战争
com\.tencent\.tmgp\.mhzxsy      x86         # 梦幻诛仙
com\.tencent\.game\.rhythmmaster    arm     # 节奏大师
com\.tencent\.tako\.muses       armeabi-v7a # 云裳羽衣
com\.tencent\.cldts             armeabi-v7a # 光荣使命
com\.tencent\.tmgp\.ysj         x86         # 妖神记
com\.tencent\.tmgp\.fcicv       x86         #电击文库:零境交错
com\.tencent\.KiHan             armeabi-v7a #火影忍者
com\.netease\.yzs               armeabi-v7a #影之诗
com\.tencent\.shootgame         armeabi-v7a #魂斗罗：归来
com\.pandadastudio\.ninjamustdie3 armeabi-v7a #忍者必须死3
com\.netease\.easybuddy armeabi-v7a #黑猪电竞
com\.tencent\.hxh armeabi-v7a #猎人
com\.tencent\.tapenjoy\.actx armeabi-v7a #魂武者
com\.tnyoo\.z                   armeabi-v7a #代号z
com\.tiancity\.yzgj\.mumu       armeabi-v7a #炎之轨迹details
com\.shining\.nikki4\.tw        arm   		# 闪耀暖暖
com\.papegames\.nn4\.tw        arm   		# google play 闪耀暖暖
com\.tencent\.tmgp\.jx3m        x86         # 剑网3:指尖江湖
.*\.tmgp\..*                    arm         # 应用宝默认ARM
com\.tencent\.af                armeabi-v7a # 王牌战士
.*got\.wintercoming.*           armeabi-v7a # 权力的游戏 凛冬将至
com\.douyu\.hd\.air\.douyutv    arm         # douyu HD
com\.bandainamcoent\.imas_millionlive_theaterdays arm # 偶像大师
com\.tencent\.lzhx              armeabi-v7a # 龙族幻想
^com\.aniplex\.fategrandorder$  armeabi-v7a # fgo日服
com\.netease\.yysbwp            armeabi-v7a # 阴阳师：百闻牌
com\.netease\.frxy              armeabi-v7a # 非人学园
com\.ulugame\.faithkr\.google   armeabi-v7a # 아르카
com\.netease\.yysbwp\..*        armeabi-v7a # 百闻牌
com\.blizzard\.wtcg\.hearthstone	armeabi-v7a # 炉石传说
com\.kurogame\.haru.*           armeabi-v7a # 战双帕弥什
.*\.Arknights                   armeabi-v7a # 明日方舟国际版
tw\.sonet\.princessconnect      armeabi-v7a # 公主连结台服
com\.miHoYo\.HSoDv2Original     x86         # 崩坏学园2官服
com\.miHoYo\.HSoDv2.*           armeabi-v7a # 崩坏2
com\.fangcun\.gg.*              armeabi-v7a # 崩坏2测试包
com\.yzqy\.qm.*                 armeabi-v7a # http://www.qumeng666.com/home.html
com\.netease\.uf                armeabi-v7a # https://u1.163.com/fab/
com\.netease\.uf\..*            armeabi-v7a # https://u1.163.com/fab/
com\.miHoYo\.yuanshencb         arm64-v8a   # 原神
com\.lilithgame\.roc\..*        armeabi-v7a # 万国觉醒外服
com\.lilithgames\.rok\..*       armeabi-v7a # 万国觉醒
com\.taiyouxi\.jwshmt           arm	    # 极无双
com\.sofunny\.Sausage           armeabi-v7a # 香肠派对
com\.netease\.ma84              armeabi-v7a # 游戏王：决斗链接-32位
com\.netease\.ma84\..*          armeabi-v7a # 游戏王：决斗链接-32位
com\.bilibili\.fatego           armeabi-v7a # fgo-B服
com\.papegames\.evol            armeabi-v7a # 恋与制作人
com\.newtypegames\.jwsko        armeabi-v7a # 易盾接入游戏
com\.newtypegames\.jwsko        arm64-v8a   # 易盾接入游戏
com\.xml\.sw\.bilibili          arm64-v8a   # 灵界之痕
com\.bilibili\.arterygear\..*        armeabi-v7a # 机动战姬：聚变
go\.OtakuGames\.ArteryGear\.bilibili        armeabi-v7a # 机动战姬：聚变
com\.xmcy\.hykb                 x86         # 好游快爆
com\.bilibili\.priconne\.yofun\.mumu    x86_64 # 公主连结
com\.bilibili\.priconne         x86_64 # 公主连结官服
com\.tencent\.forest            armeabi-v7a # 小森生活
com\.xml\.sw\.gf                armeabi-v7a # 零界之痕
com\.cokutau\.pj3x\.fc          armeabi-v7a # 小森灵
com\.devsisters\.ck             armeabi-v7a # Cookie Run: Kingdom
^code\.asaiq\.azure\.r.*        x86         # 碧蓝code:azure
com\.stove\.epic7\.google       armeabi-v7a # 第七史诗
^com\.djeablejbmfp\.yudianjiuyiwu$         x86         # 战舰少女脚本
^com\.ifengwoo\.zyjdkj$         x86         # 游戏蜂窝
^com\.cyjh\.gundam$             x86         # 游戏蜂窝
^com\.njmjmhngmImnmfmhnkjhjpjojo\.epic$      x86         #王逆助手
^com\.android\.AlipayGphone$    x86         #雷人coc辅助
com\.sqw\.setdl\..*             armeabi-v7a # 塞尔特大陆
com\.sqwtt\.setdl\.aer          armeabi-v7a # 塞尔特大陆
com\.smon\.erwa                 x86 #二娃魔灵召唤
com\.minitech\.miniworld\.nearme\.gamecenter  armeabi-v7a # 迷你世界
com\.cyjh\.mobileanjian         x86    #按键精灵
com\.pearlabyss\.blackdesertm\..*  armeabi-v7a # 黑色沙漠
com\.tencent\.hssm              armeabi-v7a # 黑色沙漠国服
com\.netease\.lhrw.*            x86_64    #零号任务
com\.bingningle\.mrqs           x86         # 末日求生：王者归来
com\.escape\.zjy2\..*           armeabi-v7a # 纸嫁衣2奘铃村  
tv\.danmaku\.bili               armeabi-v7a # 哔哩哔哩
com\.ninonetwork\.skyIsland     armeabi-v7a # 天空岛物语
com\.pwrd\.xxajh\..*            armeabi-v7a # 新笑傲江湖
com\.yofijoy\.mlbbgl$           x86         # 魔力宝贝归来
com\.estgames\.cm\.ph           arm64-v8a   # Cabal M: Heroes of Nevareth
net\.chinesegamer\.tsm          armeabi-v7a # 吞食天地Ｍ
com\.mcnamijjjjjhjojljmjp\.com\.aaaaf x86     # 魔灵忆凡辅助
com\.mhjojgjhjpjojnjkjg\.hhw      x86 # 新小小航海王
com\.aligames\.sgzzlb           armeabi-v7a # 三国志·战略版
com\.ziji$                      x86         #ziji
com\.zlongame\.tdj.*            armeabi-v7a # 天地劫:幽城再临
com\.fdg\.flashplay\.farsee     armeabi-v7a # 飞智游戏厅
com\.bbk\.appstore              arm         # vivo应用商店
com\.zlongame\..*coside.*       armeabi-v7a # 异界事务所
com\.junhai\.yzjq\.yofun\.mumu  armeabi-v7a # 蚁族崛起
air\.tv\.douyu\.android         armeabi-v7a # 斗鱼
com\.netease\.onmyoji\.wyzymnqsd_cps         x86_64 #yys
com\.shengqugames\.llas\..*     arm64-v8a   # 学园偶像季：群星闪耀
com\.YoStarEN\.AzurLane         armeabi-v7a # Azur Lane
com\.hypergryph\.arknights.*    x86         # 明日方舟
com\.tencent\.sgwsba            armeabi-v7a # 真三国无双霸
com\.lptiyu\.tanke              armeabi-v7a # 步道乐跑
com\.tencent\.wmsj              armeabi-v7a # 完美世界
com\.jxsj3\.branch\.re          armeabi-v7a # 剑侠世界3
com\.denachina\.g13002010\.denacn   armeabi-v7a # 灌篮高手
com\.superdream\.blackmoon\.yofun.*    armeabi-v7a         # 黑月
com\.tencent\.ccxt              armeabi-v7a # 璀璨星途
com\.netease\.mmtag             armeabi-v7a # 喵喵探案馆
com\.netease\.pes\..*           armeabi-v7a # 实况足球
com\.bilibili\.azurlane         x86         # 碧蓝航线
com\.bilibili\.blhx\..*         x86         # 碧蓝航线
com\.netease\.party             armeabi-v7a # 蛋仔派对
com\.yalla\.yallagames          armeabi-v7a # YALLA LUDO
cn\.xuexi\.android	        arm64-v8a   # 学园强国
com\.jedigames\.d3\.huchi       arm64-v8a   # 勇士与旅途
com\.yiyou\.ga                  armeabi-v7a # TT语音
com\.hermes\.bgame.*            armeabi-v7a # 热血街篮
com\.funplus\.awlzw\..*         armeabi-v7a # 阿瓦隆之王
com\.cmge\.atm\.yofun\.mumu     x86         # 奥特曼:集结
com\.xyfmj\.yofun\.mumu         x86         # 西游伏魔记3
com\.mf\.zm                     armeabi     # 奔雷无双
com\.tg\.benlei\.jh\.yofun.*    armeabi     # 奔雷无双
com\.sunborn\.neuralcloud\.cn   x86         # 云图计划
com\.inutan\.manasis\.bilibili  x86         # 玛雅西斯回响
com\.netease\.my.* arm64-v8a  # 梦幻手游
com\.tencent\.tmgp\.g67         arm64-v8a   # 暗黑破坏神：不朽应用宝渠道
com\.tencent\.qt\.qtl           armeabi-v7a # 掌上英雄联盟
com\.qeeyou\.app\.accelerator   armeabi-v7a # 奇游加速器
com\.syyx\.whrhx                armeabi-v7a # 无悔华夏
games\.guanyou\.lmzh\.dys       armeabi-v7a # 黎明之海
com\.netease\.AVALON            arm64-v8a   # 猎魂觉醒
com\.shengjue\.wzzg\.yofun\.mumu   armeabi-v7a # 王者战歌
com\.izhaohe\.zhaohe2.*         armeabi-v7a # 召唤与合成2
com\.road7\.sqh5                x86         # 神曲H5
com\.miHoYo\.wd                 armeabi-v7a # 未定事件簿
cn\.jj                          armeabi-v7a # jj竞技
com\.yqzh\..*                   armeabi-v7a # 元气召唤
tw\.txwy\.and\.arknights        armeabi-v7a # 明日方舟台服
com\.baplay\.st                 arm64-v8a   # 时间秩序
com\.aligames\.sgzzqb\..*       x86         # 三国志·战棋版
com\.s6.sgzzqb\.cn              x86         # 三国志·战棋版
com\.aligames\.sgzzqbb\.vivo    x86         # 三国志·战棋版
com\.tencent\.tmgp\.sgzzqb      x86         # 三国志·战棋版
com\.tencent\.tmgp\.yslzm       arm64-v8a   # 以闪亮之名
com\.shenlan\.m\.reverse1999          x86   # 重返未来:1999
com\.shenlan\.m\.reverse1999\..*    x86     # 重返未来:1999
com\.qn\.yofun\.mumu            x86         # 武道寻仙
com\.zlongame\.tdj              arm64-v8a   # 天地劫：幽城再临
com\.gzchukai\.wzlr\.yofun\.mumu    x86     # 王者猎人
com\.je\.skgame                 armeabi-v7a # 太空行动
com\.qnlxpt\.wpoquixn           armeabi-v7a # 戮仙破天
com\.leiyan\.mdjl\.an           x86         # 锚点降临
com\.leiyan\.mdjl\.bilibili     x86         # 锚点降临
com\.(qhly\.|acing\.)?jzjhq\..*   armeabi-v7a # 九州江湖情
com\.manggo\.xwdsh\.yofun.*     x86         # 向往的生活
com\.taomee\.seerplan\..*       x86         # 赛尔计划
com\.netease\.stzb.*            armeabi-v7a # 率土之滨
com\.echo\.lsf.*                armeabi-v7a # 西行纪燃魂
xy\.xxj\.tap                    x86_64      # 龙神八部之西行纪
com\.RoamingStar\.BlueArchive.*  arm64-v8a  # 蔚蓝档案
com\.bilibili\.thrud\.yofun\.mumu    x86    # 斯露德
com\.aligames\.sxx              arm64-v8a   # 森之国度
com\.moji\.mjweather            armeabi-v7a # 墨迹天气
com\.mistsequencech\.starlinear   armeabi-v7a  # 雾境序列
com\.gzlq\.wdsg2\.yofun         armeabi-v7a # 我的神功
