com\.(tencent\.tmgp\.)?bilibili\.snake.*        arm64-v8a          # 坎公骑冠剑
com\.xcqy\.uc                                   armeabi-v7a        # 星辰奇缘（九游）
com\.shining\.nikki4\.tw                        arm                # 闪耀暖暖
com\.papegames\.nn4\.tw                         arm                # google play 闪耀暖暖
com\.tencent\.tmgp\.maplem                      arm64-v8a          # 冒险岛
com\.tencent\.tmgp\.jx3m                        x86                # 剑网3:指尖江湖
com\.tencent\.sgwsba                            armeabi-v7a        # 真三国无双霸
com\.netease\.onmyoji\.wyzymnqsd_cps            x86_64             # yys
com\.shengqugames\.llas\..*                     arm64-v8a          # 学园偶像季：群星闪耀
com\.tencent\.tmgp\.dnf                         arm64-v8a          # 地下城与勇士：起源
com\.tencent\.tmgp\.xtlbbtyf                    x86_64             # 新天龙八部
com\.tencent\.tmgp\.xtlbb                       x86_64             # 新天龙八部
com\.tencent\.hyrzol                            arm64-v8a          # 火影忍者：忍者新世代
com\.tencent\.af                                armeabi-v7a        # 王牌战士
.*got\.wintercoming.*                           armeabi-v7a        # 权力的游戏 凛冬将至
com\.netease\.frxy                              armeabi-v7a        # 非人学园
com\.miHoYo\.HSoDv2Original                     arm64-v8a          # 崩坏学园2官服
com\.lilithgame\.roc\..*                        armeabi-v7a        # 万国觉醒外服
com\.lilithgames\.rok\..*                       armeabi-v7a        # 万国觉醒
com\.taiyouxi\.jwshmt                           arm                # 极无双
com\.sofunny\.Sausage                           armeabi-v7a        # 香肠派对
com\.netease\.ma84                              armeabi-v7a        # 游戏王：决斗链接-32位
com\.netease\.ma84\..*                          armeabi-v7a        # 游戏王：决斗链接-32位
com\.bilibili\.fatego.*                         arm64-v8a          # fgo-B服
com\.tencent\.tmgp\.fgo                         arm64-v8a          # fgo-腾讯服
com\.bilibili\.fgo\..*                          arm64-v8a          # fgo-其他服
com\.bilibili\.uo\.fatego                       arm64-v8a          # fgo-其他服
.*papegames\.evol.*                             arm64-v8a          # 恋与制作人
.*lyzzr\.nearme\.gamecenter.*                   arm64-v8a          # 恋与制作人
.*papergames\.lyzzr\.vivo.*                     arm64-v8a          # 恋与制作人
.*tencent\.tmgp\.evol.*                         arm64-v8a          # 恋与制作人

go\.OtakuGames\.ArteryGear\.bilibili            armeabi-v7a        # 机动战姬：聚变
com\.xmcy\.hykb                                 x86                # 好游快爆
com\.bilibili\.priconne                         x86_64             # 公主连结官服
com\.cokutau\.pj3x\.fc                          armeabi-v7a        # 小森灵
com\.stove\.epic7\.google                       armeabi-v7a        # 第七史诗
com\.pearlabyss\.blackdesertm\..*               armeabi-v7a        # 黑色沙漠
com\.netease\.lhrw.*                            x86_64             # 零号任务
com\.bingningle\.mrqs                           x86                # 末日求生：王者归来
com\.escape\.zjy2\..*                           armeabi-v7a        # 纸嫁衣2奘铃村  
com\.pwrd\.xxajh\..*                            armeabi-v7a        # 新笑傲江湖
com\.yofijoy\.mlbbgl$                           x86                # 魔力宝贝归来
com\.aligames\.sgzzlb                           arm64-v8a          # 三国志·战略版
com\.bbk\.appstore                              arm                # vivo应用商店
com\.hypergryph\.arknights.*                    x86                # 明日方舟
com\.bilibili\.azurlane                         x86_64             # 碧蓝航线-官包
com\.bilibili\.blhx\.m4399                      x86                # 碧蓝航线
com\.bilibili\.blhx\.huawei                     x86_64             # 碧蓝航线-华为
com\.bilibili\.blhx\.mi                         x86_64             # 碧蓝航线-小米
com\.bilibili\.blhx\.uc                         x86_64             # 碧蓝航线-九游
com\.tencent\.tmgp\.bilibili\.blhx              arm64-v8a          # 碧蓝航线
com\.bilibili\.blhx\.nearme\.gamecenter         x86_64             # 碧蓝航线-OPPO
com\.bilibili\.blhx\.vivo                       x86_64             # 碧蓝航线-vivo
com\.bilibili\.blhx\.mz                         x86_64             # 碧蓝航线-魅族
com\.bilibili\.blhx\.baidu                      x86                # 碧蓝航线
com\.bilibili\.blhx\.bilibiliMove               x86_64             # 碧蓝航线-迁移服
com\.bilibili\.blhx\.lenovo                     x86_64             # 碧蓝航线-联想
com\.bilibili\.blhx\.dl                         x86_64             # 碧蓝航线-当乐
com\.bilibili\.blhx\.honor                      arm64-v8a          # 碧蓝航线-荣耀
com\.bilibili\.blhx\.qihoo                      x86_64             # 碧蓝航线-360
cn\.xuexi\.android                              arm64-v8a          # 学园强国
com\.funplus\.awlzw\..*                         armeabi-v7a        # 阿瓦隆之王
com\.cmge\.atm\.yofun\.mumu                     x86                # 奥特曼:集结
com\.sunborn\.neuralcloud\.cn                   x86                # 云图计划
com\.inutan\.manasis\.bilibili                  x86                # 玛雅西斯回响
com\.netease\.my.*                              arm64-v8a          # 梦幻手游
com\.tencent\.tmgp\.g67                         arm64-v8a          # 暗黑破坏神：不朽应用宝渠道
com\.tencent\.qt\.qtl                           armeabi-v7a        # 掌上英雄联盟
com\.qeeyou\.app\.accelerator                   armeabi-v7a        # 奇游加速器
com\.netease\.AVALON                            arm64-v8a          # 猎魂觉醒
com\.road7\.sqh5                                x86                # 神曲H5
cn\.jj                                          armeabi-v7a        # jj竞技
tw\.txwy\.and\.arknights                        armeabi-v7a        # 明日方舟台服
com\.tencent\.cqtxsy                            armeabi-v7a        # 传奇天下
com\.xd\.ro\.roapk                              arm64-v8a          # 仙境传说RO
com\.baplay\.st                                 arm64-v8a          # 时间秩序
com\.netease\.pes                               armeabi-v7a        # 实况足球
com\.hortor\.games\.xyzw                        x86                # 咸鱼之王
com\.antutu\..*                                 x86_64             # 安兔兔
cc\.game\.emu_psp\.mgllhh16                     armeabi-v7a        # 魔鬼恋人汉化版
com\.aligames\.sgzzqb\..*                       x86                # 三国志·战棋版
com\.s6.sgzzqb\.cn                              x86                # 三国志·战棋版
com\.tencent\.tmgp\.sgzzqb                      x86                # 三国志·战棋版
com\.shenlan\.m\.reverse1999.*                  x86_64             # 重返未来:1999
com\.denachina\.g13002010\.denacn               armeabi-v7a        # 灌篮高手
com\.gzchukai\.wzlr\.yofun\.mumu                x86_64             # 王者猎人
com\.sjxh\.zhsm                                 armeabi-v7a        # 战火使命
com\.zhsm\.aligames                             armeabi-v7a        # 战火使命
com\.je\.skgame                                 armeabi-v7a        # 太空行动
com\.leiyan\.mdjl\.an                           x86                # 锚点降临
com\.leiyan\.mdjl\.bilibili                     x86                # 锚点降临
com\.manggo\.xwdsh\.yofun\.mumu                 x86                # 向往的生活
com\.sina\.weibo                                armeabi            # 微博
com\.taomee\.seerplan\..*                       x86                # 赛尔计划
com\.RoamingStar\.BlueArchive.*                 arm64-v8a          # 蔚蓝档案
com\.bilibili\.thrud\.yofun\.mumu               x86                # 斯露德
com\.tencent\.wegame\.bilibili\.thrud           x86                # 斯露德
com\.je\.skgame\.aligames                       armeabi-v7a        # 太空行动
com\.redfinger\.app                             armeabi-v7a        # 红手指云手机
com\.aligames\.sxx                              arm64-v8a          # 森之国度
com\.aligames\.szgd\.yofun\.mumu                arm64-v8a          # 森之国度
com\.moji\.mjweather                            armeabi-v7a        # 墨迹天气
com\.baitian\.aqcs\.aqcssy\.bt                  arm64-v8a          # 奥奇传说
com\.nebulacat\.landlord                        arm64-v8a          # 猫婆婆的幸福公寓
com\.xuangames\.fire233\.snbqt                  arm64-v8a          # 少年包青天
com\.ztgame\.bob                                arm64-v8a          # 球球大作战
com\.xm4399\.jyt\.gb                            arm64-v8a          # 锦鱼图
com\.pwrd\.p5x\..*                              x86_64             # 女神异闻录：夜幕魅影
com\.pwrd\.persona5x\..*                        x86_64             # 女神异闻录：夜幕魅影
com\.tencent\.tmgp\.p5x                         x86_64             # 女神异闻录：夜幕魅影
com\.p5x\.nearme\.gamecenter                    x86_64             # 女神异闻录：夜幕魅影
.*leniu\.shyyl\.yofun\..*                       arm64-v8a          # 山海与妖灵
com\.gilieye\.fengya                            arm64-v8a          # 咏月风雅
com\.lanjing\.yanyu\..*                         armeabi-v7a        # 烟雨江湖
com\.netease\.s10                               arm64-v8a          # 蛋仔滑滑
com\.lijing\.molestory\.lj                      arm64-v8a          # 鼹鼠同行之森林之家
com\.qihoo\.appstore                            armeabi            # 360手机助手
com\.catstudio\.nekostory\.aligames             x86                # 萌猫物语
cn\.ninegame\.gamemanager                       armeabi-v7a        # 九游
com\.xm4399\.hdczjh2                            x86                # 皇帝成长计划2
com\.hanjiasongshu\.jianghux2                   arm64-v8a          # 汉家江湖
.*zulong\.drc\.gw                               x86_64             #《 龙族：卡塞尔之门》
com\.tencent\.tmgp\.dpcq                        arm64-v8a          #《斗破苍穹：异火重燃》
com\.tencent\.android\.qqdownloader             armeabi            #《应用宝》
.*smdl.*qy.*                                    x86_64             #《神魔大陆》
cn\.com\.langeasy\.LangEasyLexis                x86                #《不背单词》
.*blade.*                                       x86_64             #《境界刀鸣》
.*bleach.*                                      x86_64             #《境界刀鸣》
.*blackbeacon.*                                 x86_64             #《黑色信标》
.*kzxzf\.rc\.x7sy.*                             arm64-v8a          #《空之要塞：启航》
com\.netease\.lrs                               arm64-v8a          #《狼人杀》
.*netease\.pm03.*                               arm64-v8a          #《忘川风华录》
.*hermes\.reflash.*                             x86                #《镭明闪击》
com\.timeofkey\.game\.aligames                  armeabi-v7a        #《时间之钥》
.*cn\.ybxz\.and.*                               x86                #《佣兵小镇》
com\.lrgame\.sezg.*                             arm64-v8a          #《塞尔之光》
com\.tq\.my.*                                   armeabi-v7a        #《魔域口袋版》
com\.cipaishe\.wuhua\.bilibili.*                arm64-v8a          #《物华弥新》
com\.sqw\.by\.yofun\.mumu                       arm64-v8a          #《霸业》
com\.sqw\.yxmys\.yxmys_.*                       arm64-v8a          #《英雄没有闪》
cn\.ninegame\.gamemanager.*                     arm64-v8a          # 《九游》
com\.x[a-z]*\.qs\.cn$                           arm64-v8a          #《仙遇》
.*cx\.pzys.*                                    arm64-v8a          #《破阵勇士》
.*pozhen\.sds.*                                 arm64-v8a          #《破阵勇士》
com\.tencent\.tmgp\.lv                          arm64-v8a          #《光与夜之恋》
com\.joke\.chongya                              arm64-v8a          #《冲鸭变速器》
com\.netease\.yzs.*                             x86_64             #《影之诗》
com\.yingxiong\.dfzj\.ewan\.mumu                arm64-v8a          #《巅峰战舰》
com\.wxbz\.lyjx\.yofun\.mumu                    x86_64             #《烈焰觉醒》
com\.pujiadev\.dotokoi                          arm64-v8a          #《像素男友》
com\.mgss\.mihuan                               x86_64             #《猛鬼宿舍》
com\.bbqstudio\.bbq2                            arm64-v8a          #《野蛮人大作战2》
com\.seayoo\.ggd.*                              x86_64             #《鹅鸭杀》
com\.yydwlxqcy31\.cs.*                          arm64-v8a          #《永远的蔚蓝星球》
com\.netease\.l50.*                             x86_64             #《无限大》
com\.shengtian\.FJH                             x86_64             #《赴江湖》
com\.jth\.trucklifemobile\.gb                   arm64-v8a          #《卡车人生》
com\.skhl\.maze                                 armeabi-v7a        #《恐惧迷宫》
com\.eg\.android\.AlipayGphone                  arm64-v8a          #《支付宝》
com\.tencent\.tmgp\.WePop                       arm64-v8a          #《跑跑卡丁车官方竞速版》
com\.huanmeng\.zhanjian2.*                      arm64-v8a          #《战舰少女2》
com\.doublegame\.dhCN.*                         x86_64             #《地牢猎手6》
com\.bamboogame\.moto                           arm64-v8a          #《黎明飞驰》
com\.sqw\.hwzx\.bilibili                        arm64-v8a          #《荒芜之下》
com\.netease\.cloudmusic                        arm64-v8a          #《网易云音乐》
com\.RoamingStar\.StellaSora                    x86_64             #《星塔旅人》
.*fivexgames\.g15002003.*                       arm64-v8a          #《漫画群星：大集结》
.*tencent\.tmgp\.g15002003.*                    arm64-v8a          #《漫画群星：大集结》
com\.gbits\.atm\.leiting                        x86_64             #《问道》


############################################
.*\.tmgp\..*                                    arm                # 应用宝默认ARM
